* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
}

@media screen and (width > 768px) {
  .main {
    flex-direction: row;
    justify-content: center;
  }
}

.card {
  position: relative;
  width: 311px;
  height: 222px;
  margin-bottom: 25px;
  padding: 28px;
  border-radius: 8px;
  box-shadow: 0 15px 30px -11px rgb(131 167 210 / 0.22);
}

@media screen and (width > 768px) {
  .card {
    margin-bottom: 0;
  }
}

.card-cyan {
  border-top: 4px solid #00c8c8;
}

@media screen and (width > 768px) {
  .card-cyan {
    margin-right: 30px;
  }
}

.card-red {
  border-top: 4px solid #ff637b;
}

@media screen and (width > 768px) {
  .card-red {
    margin-bottom: 30px;
  }
}

.card-yellow {
  border-top: 4px solid #fddf00;
}

.card-blue {
  border-top: 4px solid #377fd2;
}

@media screen and (width > 768px) {
  .card-blue {
    margin-left: 30px;
  }
}

.card-title {
  margin: 0;
}

.card-image {
  position: absolute;
  bottom: 28px;
  right: 28px;
  width: 64px;
}
